@use "sass:map";
@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.avatar-group__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.avatar-group__item {
  position: relative;

  &:not(:first-child) {
    margin-left: -25px;

    @include mixins.media-md {
      margin-left: -20px;
    }
  }
}

.avatar-group__image {
  width: 60px;
  display: inline-block;
  border-radius: 50%;

  @include mixins.media-md {
    width: 40px;
  }
}

.avatar-group__count {
  display: inline-flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: map.get(const.$font-size, s);
  font-weight: const.$font-weight-regular;
  background-color: const.$color-accent-2;
  border-radius: 50%;
  cursor: default;

  @include mixins.media-md {
    width: 40px;
    height: 40px;
  }
}
