@use "sass:map";
@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.characters__promo {
  @include mixins.icon-background(400px, 100%, "../../assets/images/promo.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: const.$color-font-dark-regular;
  background-color: #ffffff;
}

.characters__header {
  margin-top: 100px;
  font-size: map.get(const.$font-size, 4xl);
  font-weight: const.$font-weight-bold;
  cursor: default;
}
