@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.not-found {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__img {
  height: 425px;
  object-fit: cover;
  transition: const.$transition;

  @include mixins.media-md {
    height: 350px;
  }

  @include mixins.media-sm {
    height: 275px;
  }

  @include mixins.media-2sm {
    height: 250px;
  }
}
