// ======================= VALUE ==========================

$duration: 0.2s;
$transition: all ease-in-out $duration;

// ======================= COLORS =========================

$color-accent: #55b947;

$color-font-light-regular: #f5f5f5;
$color-font-dark-regular: #1d2124;

// ======================== FONT ==========================

$font-weight-regular: 500;
$font-weight-bold: 900;
