@mixin icon-background($height, $width, $url) {
  display: inline-block;
  height: $height;
  width: $width;
  background-image: url($url);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
