@use "./constants" as const;
@use "./typography";

html {
  font-size: 10px;
  font-family: "Futura", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: const.$color-font-dark-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
