@use "sass:map";
@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.feedback-card {
  width: calc(50% - 15px);
  font-size: map.get(const.$font-size, m);
  font-weight: 400;
  background-color: const.$color-card-background;
  border-radius: const.$border-radius-lg;
  transition: const.$transition;

  @include mixins.media-md {
    width: 100%;
  }
}

.feedback-card__wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  transition: const.$transition;

  @include mixins.media-lg {
    padding: 15px;
  }

  @include mixins.media-sm {
    gap: 5px 10px;
  }
}

.feedback-card__picture {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  background-color: #cf112b;
  transition: const.$transition;

  @include mixins.media-2sm {
    display: none;
  }
}

.feedback-card__column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 2;
}

.feedback-card__header {
  font-size: map.get(const.$font-size, xl);
  transition: const.$transition;

  @include mixins.media-2sm {
    font-size: map.get(const.$font-size, l);
  }
}

.feedback-card__subheader {
  font-size: map.get(const.$font-size, m);
  font-weight: 500;
}

.feedback-card__info {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: map.get(const.$font-size, s);
}

.feedback-card__info-item {
  text-transform: capitalize;
}

.feedback-card__description {
  width: 100%;
  font-size: 2rem;
}
