@use "sass:map";
@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.characters-search {
  width: 500px;
  position: relative;
  transition: const.$transition;

  @include mixins.media-md {
    width: 350px;
  }

  @include mixins.media-sm {
    width: 300px;
  }
}

.characters-search__input {
  padding: 10px 40px;
  width: 100%;
  font-size: map.get(const.$font-size, l);
  font-weight: const.$font-weight-regular;
  color: const.$color-font-dark-regular;
  border: 2px solid const.$color-font-dark-regular;
  border-radius: const.$border-radius-md;
  box-sizing: border-box;
  transition: const.$transition;
  outline: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    border-color: const.$color-accent;
  }

  @include mixins.media-md {
    font-size: map.get(const.$font-size, m);
  }
}

.characters-search__icon--search {
  @include mixins.icon-background(24px, 24px, "@/assets/images/search.svg");
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.characters-search__icon--arrow {
  @include mixins.icon-background(24px, 24px, "@/assets/images/arrow.svg");
}

.characters-search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
