@use "sass:map";
@use "@/styles/constants" as const;

.inline-error {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: map.get(const.$font-size, xs);
  color: const.$color-font-error;
  transition: const.$transition;
  cursor: default;
}
