@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.header {
  position: relative;
  background: const.$background-image-accent;
  z-index: 75;
}

.header__wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: const.$transition;

  @include mixins.media-md {
    padding: 10px 30px;
  }
}
