@use "sass:map";
@use "@/styles/constants" as const;

.feedback-form {
  font-size: map.get(const.$font-size, m);
  font-weight: 400;
  background-color: const.$color-card-background;
  border-radius: const.$border-radius-lg;
  transition: const.$transition;
}

.feedback-form__header {
  padding: 20px 0;
  font-size: map.get(const.$font-size, l);
  font-weight: 500;
  text-align: center;
  background: const.$background-image-accent;
  border-radius: const.$border-radius-lg const.$border-radius-lg 0 0;
}

.feedback-form__container {
  padding: 30px;
}

.feedback-form__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  transition: const.$transition;
}

.feedback-form__section {
  width: calc(50% - 15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  transition: const.$transition;

  &--wide {
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
}

.feedback-form__field {
  width: 100%;
  display: flex;
  gap: 30px;
}

// ===================== FORM ITEM ========================

.feedback-form__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback-form__item {
  padding: 10px;
  width: 100%;
  color: const.$color-font-light-regular;
  background-color: const.$color-font-dark-regular;
  border: 2px solid const.$color-font-dark-regular;
  border-radius: const.$border-radius-md;
  box-sizing: border-box;
  transition: const.$transition;
  outline: none;

  &:active,
  &:focus {
    border-color: const.$color-accent-2;
  }

  &:hover {
    border-color: const.$color-accent-2;
    cursor: pointer;
  }
}

.feedback-form__button {
  padding: 10px 40px;
  font-size: map.get(const.$font-size, m);
  color: const.$color-font-light-regular;
  background-color: const.$color-accent;
  border: none;
  border-radius: const.$border-radius-md;
  transition: const.$transition;
  cursor: pointer;

  &:hover {
    background-color: const.$color-accent-2;
  }

  &:disabled {
    opacity: 0.5;
    background-color: const.$color-accent;
  }
}

// ====================== SPECIAL =========================

input[type="checkbox"] {
  width: map.get(const.$font-size, s);
  height: map.get(const.$font-size, s);
  outline: none;
}

.empty {
  display: inline-block;
  height: 16px;
}
