@use "sass:map";
@use "@/styles/constants" as const;
@use "@/styles/mixins" as mixins;

.character-modal {
  width: 600px;
  background: const.$color-modal-background;
  border-radius: const.$border-radius-lg;
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: map.get(const.$font-size, m);
  color: const.$color-font-dark-regular;
  transform: translate(-50%, -50%);
  transition: const.$transition;
  z-index: 20;

  @include mixins.media-md {
    width: calc(100% - 60px);
    min-width: 360px;
  }
}

.character-modal__header {
  padding: 15px 45px;
  text-align: center;
  color: const.$color-font-light-regular;
  background: const.$background-image-accent;
  font-size: map.get(const.$font-size, xl);
  border-radius: const.$border-radius-lg const.$border-radius-lg 0 0;
  cursor: default;

  @include mixins.media-md {
    font-size: map.get(const.$font-size, l);
  }
}

.character-modal__close {
  margin: 10px auto;
  padding: 4px 8px;
  display: inline-block;
  position: absolute;
  top: 7.5px;
  right: 15px;
  font-size: map.get(const.$font-size, s);
  font-weight: 700;
  color: const.$color-font-light-regular;
  border: 3px solid const.$color-font-light-regular;
  border-radius: 50%;
  transition: const.$transition;
  cursor: pointer;

  &:hover {
    color: const.$color-accent-text;
    border-color: const.$color-accent-text;
  }

  @include mixins.media-md {
    margin: 5px auto;
  }
}

.character-modal__content {
  padding: 30px 15px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  transition: const.$transition;

  @include mixins.media-sm {
    gap: 15px;
  }

  @include mixins.media-2sm {
    padding: 20px 10px;
  }
}

.character-modal__ceil {
  width: calc(50% - 15px);
  transition: const.$transition;
}

.character-modal__tags {
  margin-top: 15px;
  display: flex;
  gap: 7.5px;
  transition: const.$transition;

  @include mixins.media-sm {
    margin-top: 5px;
    font-size: map.get(const.$font-size, s);
  }

  @include mixins.media-2sm {
    font-size: map.get(const.$font-size, xs);
  }
}

.character-modal__img {
  height: 100%;
  width: 100%;
  border-radius: const.$border-radius-md;
  object-fit: contain;
  transition: const.$transition;
}

.character-modal__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  transition: const.$transition;

  @include mixins.media-sm {
    margin-top: 15px;
  }
}

.character-modal__item {
  font-size: map.get(const.$font-size, m);
  transition: const.$transition;

  @include mixins.media-sm {
    font-size: map.get(const.$font-size, s);
  }

  @include mixins.media-2sm {
    font-size: map.get(const.$font-size, xs);
  }
}

.character-modal__title {
  padding-right: 10px;
  color: const.$color-tag-default;
  font-weight: 500;
  text-transform: uppercase;
}

.character-modal__subheader {
  font-size: map.get(const.$font-size, l);
  font-weight: 500;

  @include mixins.media-sm {
    font-size: map.get(const.$font-size, m);
  }

  @include mixins.media-2sm {
    font-size: map.get(const.$font-size, s);
  }
}
